/dts-v1/;

#include "mt7621.dtsi"
#include <dt-bindings/input/input.h>

/ {
	compatible = "mediatek,mt7621-rfb-nor", "mediatek,mt7621-soc";
	model = "MediaTek MT7621 RFB (SNOR)";

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <20>;

		reset {
			label = "reset";
			gpios = <&gpio0 18 1>;
			linux,code = <KEY_RESTART>;
		};
	};
};

&eth {
        status = "okay";

        gmac0: mac@0 {
                compatible = "mediatek,eth-mac";
                reg = <0>;
                phy-mode = "trgmii";
                fixed-link {
                        speed = <1000>;
                        full-duplex;
                        pause;
                };
        };

        gmac1: mac@1 {
                compatible = "mediatek,eth-mac";
                reg = <1>;
                phy-mode = "rgmii";
                fixed-link {
                        speed = <1000>;
                        full-duplex;
                        pause;
                };
        };

        mdio: mdio-bus {
                #address-cells = <1>;
                #size-cells = <0>;

                phy1f: ethernet-phy@1f {
                        reg = <0x1f>;
                        phy-mode = "rgmii";
                };
        };
};

&gsw {
	mediatek,mdio = <&mdio>;
	mediatek,portmap = "llllw";
	mediatek,mcm;
	mt7530,direct-phy-access;

	resets = <&rstctrl 2>;
	reset-names = "mcm";

	port5: port@5 {
		compatible = "mediatek,mt753x-port";
		reg = <5>;
		phy-mode = "rgmii";
		fixed-link {
			speed = <1000>;
			full-duplex;
		};
	};

	port6: port@6 {
		compatible = "mediatek,mt753x-port";
		reg = <6>;
		phy-mode = "trgmii";
		fixed-link {
			speed = <1000>;
			full-duplex;
		};
	};

	mdio-bus {
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&hnat {
        mtketh-wan = "eth1";
        mtketh-ppd = "eth0";
	ext-devices = "rai0", "ra0", "rai1", "ra1", "rai2", "ra2", "rai3", "ra3", "apclii0", "apcli0";
        mtketh-max-gmac = <2>;
        status = "okay";
};

&pcie {
	status = "okay";
};

&pinctrl {
	state_default: pinctrl0 {
		gpio {
			mtk,group = "i2c", "uart2", "uart3";
			mtk,function = "gpio";
		};
	};
};

&sdhci {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&sdhci_pins>;
};

&spi0 {
	status = "okay";

	m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <25000000>;

		partition@0 {
			label = "Bootloader";
			reg = <0x00000 0x30000>;
		};

		partition@30000 {
			label = "Config";
			reg = <0x30000 0x10000>;
		};

		partition@40000 {
			label = "Factory";
			reg = <0x40000 0x10000>;
		};

		partition@50000 {
			label = "firmware";
			reg = <0x50000 0xfb0000>;
		};
	};
};

&u3phy1 {
	status = "okay";
};

&xhci {
	status = "okay";
};
