#
# MediaTek SoC drivers
#
config COMMON_CLK_MEDIATEK
	bool
	---help---
	  Mediatek SoCs' clock support.

config COMMON_CLK_MT2701
	bool "Clock driver for Mediatek MT2701"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK
	default ARCH_MEDIATEK
	---help---
	  This driver supports Mediatek MT2701 clocks.

config COMMON_CLK_MT2712
	bool "Clock driver for Mediatek MT2712"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK
	default ARCH_MEDIATEK
	---help---
	  This driver supports Mediatek MT2712 clocks.

config COMMON_CLK_MT2712_BDPSYS
	bool "Clock driver for Mediatek MT2712 bdpsys"
	select COMMON_CLK_MT2712
	---help---
	  This driver supports Mediatek MT2712 bdpsys clocks.

config COMMON_CLK_MT2712_IMGSYS
	bool "Clock driver for Mediatek MT2712 imgsys"
	select COMMON_CLK_MT2712
	---help---
	  This driver supports Mediatek MT2712 imgsys clocks.

config COMMON_CLK_MT2712_JPGDECSYS
	bool "Clock driver for Mediatek MT2712 jpgdecsys"
	select COMMON_CLK_MT2712
	---help---
	  This driver supports Mediatek MT2712 jpgdecsys clocks.

config COMMON_CLK_MT2712_MFGCFG
	bool "Clock driver for Mediatek MT2712 mfgcfg"
	select COMMON_CLK_MT2712
	---help---
	  This driver supports Mediatek MT2712 mfgcfg clocks.

config COMMON_CLK_MT2712_MMSYS
	bool "Clock driver for Mediatek MT2712 mmsys"
	select COMMON_CLK_MT2712
	---help---
	  This driver supports Mediatek MT2712 mmsys clocks.

config COMMON_CLK_MT2712_VDECSYS
	bool "Clock driver for Mediatek MT2712 vdecsys"
	select COMMON_CLK_MT2712
	---help---
	  This driver supports Mediatek MT2712 vdecsys clocks.

config COMMON_CLK_MT2712_VENCSYS
	bool "Clock driver for Mediatek MT2712 vencsys"
	select COMMON_CLK_MT2712
	---help---
	  This driver supports Mediatek MT2712 vencsys clocks.

config COMMON_CLK_MT7622
	bool "Clock driver for Mediatek MT7622"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK
	default ARCH_MEDIATEK
	---help---
	  This driver supports Mediatek MT7622 clocks.

config COMMON_CLK_LEOPARD
	bool "Clock driver for Mediatek LEOPARD"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK
	default ARCH_MEDIATEK
	---help---
	  This driver supports Mediatek LEOPARD clocks.
	  And if config it, leopard clock driver will be enable.
	  then you can control related clock. and if you comfig
	  it, COMMON_CLK_MEDIATEK will be selected.

config COMMON_CLK_MT8135
	bool "Clock driver for Mediatek MT8135"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK
	default ARCH_MEDIATEK
	---help---
	  This driver supports Mediatek MT8135 clocks.

config COMMON_CLK_MT8173
	bool "Clock driver for Mediatek MT8173"
	depends on COMMON_CLK
	select COMMON_CLK_MEDIATEK
	default ARCH_MEDIATEK
	---help---
	  This driver supports Mediatek MT8173 clocks.
