if RALINK

config CEVT_SYSTICK_QUIRK
	bool
	default n

config CLKEVT_RT3352
	bool
	depends on SOC_RT305X || SOC_MT7620
	default y
	select CLKSRC_OF
	select CLKSRC_MMIO
	select CEVT_SYSTICK_QUIRK

config RALINK_ILL_ACC
	bool "illegal access irq"
	depends on SOC_RT305X
	default n

config IRQ_INTC
	bool
	default y
	depends on !SOC_MT7621

config RALINK_MT7621
	bool
	default n

choice
	prompt "Ralink SoC selection"
	default SOC_RT305X
	help
	  Select Ralink MIPS SoC type.

	config SOC_RT288X
		bool "RT288x"
		select MIPS_L1_CACHE_SHIFT_4
		select HW_HAS_PCI

	config SOC_RT305X
		bool "RT305x"
		select USB_ARCH_HAS_HCD

	config SOC_RT3883
		bool "RT3883"
		select HW_HAS_PCI

	config SOC_MT7620
		bool "MT7620/8"
		select HW_HAS_PCI

	config SOC_MT7621
		bool "MT7621"
		select MIPS_CPU_SCACHE
		select SYS_SUPPORTS_MULTITHREADING
		select SYS_SUPPORTS_SMP
		select SYS_SUPPORTS_MIPS_CPS
		select SYS_SUPPORTS_HIGHMEM
		select MIPS_GIC
		select COMMON_CLK
		select CLKSRC_MIPS_GIC
		select HW_HAS_PCI
		select GENERIC_CLOCKEVENTS_BROADCAST
		select MIPS_L1_CACHE_SHIFT_5
		select ZONE_DMA
		select MIPS_L2_CACHE_ER35
		select RALINK_MT7621
		select BUILTIN_DTB
endchoice

config RALINK_BUILTIN_DTB_NAME
	string "Built in DTB"
	help
	  Set the name of the DTB to embed in the vmlinux binary

endif
