config HAVE_MTK_IN_HOUSE_TEE_SUPPORT
	bool "Enable MTK in-house TEE Solution"
	def_bool n
	help
	  This option decides if the chip can support MTK TEE.
	  Set to yes if MTK TEE is supported.
	  If you don't know if it is supported, setting to no.
	  This option is needed if you would like to turn on MTK TEE.

config MTK_IN_HOUSE_TEE_SUPPORT
	bool "Enable MTK In House TEE Support"
	depends on HAVE_MTK_IN_HOUSE_TEE_SUPPORT
	default n
	help
	  This enable MTK TEE support.

config MTK_IN_HOUSE_TEE_CRYPTO_DRIVER
	bool "Enable MTK In House TEE Crypto Driver"
	depends on MTK_IN_HOUSE_TEE_SUPPORT
	help
	   This enable sha256 and ctr(aes) crypto driver